@import '../../sass/_common.scss';

.exception-container {
	height: inherit;
	padding-top: 356rpx;
	flex-direction: column;

	image {
		@include size(400rpx, 300rpx);
		margin-bottom: 16rpx;
	}

	.btn-login {
		@include size(216rpx, 88rpx);
		border-radius: 66rpx;
		margin-top: 32rpx;
	}
}