// 颜色 
$theme-color:#3399ff;

$white:#ffffff;
$black:#000000;

$color-e5:#e5e5e5;
$color-f5:#f5f5f5;
$color-1a:#1a1a1a;
$color-70:#707070;

$color-33:#333333;
$color-66:#666666;
$color-99:#999999;
$color-cc:#cccccc;

$color-ff3333:#ff3333;

// 混合
// 设置大小
@mixin size($width, $height, $setThreshold:'max') {
  width: $width;
  height: $height;

  @if $setThreshold=='max' {
    max-width: $width;
    max-height: $height;
  }

  @else if $setThreshold=='min' {
    min-width: $width;
    min-height: $height;
  }

  @else if $setThreshold=='no' {}

}

// iPhoneX兼容
@mixin compatible-iphonex-pb($pb:0rpx) {
  padding-bottom: $pb;
  padding-bottom: calc(#{$pb} + constant(safe-area-inset-bottom));
  padding-bottom: calc(#{$pb} + env(safe-area-inset-bottom));
}

// 块区域样式，默认背景是灰色
@mixin gray-box($padding, $borderRadius, $bgColor:$color-f5) {
  width: 100%;
  padding: $padding;
  background-color: $bgColor;
  border-radius: $borderRadius;
  box-sizing: border-box;
}

// 工具函数 
$baseWidth:375rpx;
$baseHeight:690rpx;
// rpx转百分比单位
@function rpx2percent($rpx, $isRelativeToWidth:true) {

  @if $isRelativeToWidth {
    @return percentage($rpx /2 / $baseWidth);
  }

  @else {
    @return percentage($rpx /2 / $baseHeight);
  }

}